@import 'reset.css';

body {
    font-family: 'Inter', system-ui;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 10vh;
    padding-bottom: 10vh;

    background: #285577;
}

.weather {
    width: 320px;
    padding: 30px 20px;
    border-radius: 16px;
    background: linear-gradient(167deg, #35b98e 4.7%, #1894b0 95.98%), #15676c;

    color: #fff;
}

.form {
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: stretch;

    background-color: #ffff;
}

.form__input {
    color: #20735a;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 10px;
}

.form__input::placeholder {
    color: #20735a;
    opacity: 0.5;
}

.form__button {
    padding: 10px 10px;
    opacity: 0.5;
}

.weather__info {
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
}

.weather__img {
    width: 128px;
}

.weather__temp {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}

.weather__city {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}

.weather__details {
    display: flex;
    justify-content: space-between;
}

.details{
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

.details__img {
    width: 36px;
    grid-row: 1 / 3;
    align-self: center;
}

.details__value {
    font-size: 20px;
    font-weight: 300;
}

.details__title {
    font-size: 20px;
    font-weight: 300;
}